*.log
/backend/wadph-data.json
/backend/*-wadph-data.json

/backend/node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.env
.env.*
!.env.example

.DS_Store
Thumbs.db

.vscode/
.idea/